* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main{
  background-color: #adadad;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* menu-hamburguer*/
#btn-menu:checked ~ .menu{
  margin-top: 0%;
  margin-left: 57%;
  display: block;
}

#btn-menu {
  display: none;
}

label[for="btn-menu"] {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #ffffff;
}

.menu {
  margin-left: -100%;
  width: 100%;
  position: absolute;
}
 .menu ul {
  list-style: none;
  position: relative;
  display: inline-block;
} 
.menu ul li {
  width: 100%;
  float: none;
  background-color: #333333;
}

.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  background-color: #333333;
  height: 5%;
}

.logo{
  width: 60%;
}


/*card dos destaques*/
div.destaque{
  width: 90vw;
  height: 300px;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 20px;
  background-color: #333333;
} 

.caroussel{
  width: 90%;
  height: 80%;
  background-color: #bf8164;
}

/* .card {
  display: flex;
  flex-flow: column;
  width: 30%;
  border-radius: 10px;
  border:1px solid #E85531;
  align-items: center;
} */
/* .card-name {
  width: 100%;
 justify-content: center;
  font-weight: bolder;
  background-color:#E85531;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */


/* cards todas as peças */
.text-simple {
  text-align: center;
  padding: 2%;
  background-color: #333333;
  color: #ffffff;
} 

.all-plays{
  width: 90vw;
  height: 800px;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 20px;
  background-color: #333333;
}

.search-by-name{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333333;

}

.btn-search{
  width: 100px;
}
.card-image {
  width: 90%;
  height: auto;
}
.card-time {
  font-size: 70%;
  border: none;
  border-radius: 10px 10px 0 0 ;
  background-color:#E85531;
  padding: 2% 2% 0;
}

.listcard {
  display: flex;
  flex-flow: column;
  width: 80%;
  border-radius: 10px;
  border:1px solid #E85531;
}

/* form indicação de peça */
.forms{
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  align-items: center;
}
/* input pág de indicação */
.input  {
  width: auto;
  border-radius: 15px;
  padding: 5px;
  margin: 0 3% 5%;
}

.select-filters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.filter-location{
  width: 30px;
}

.filter-date{
  width: 5px;
}

.filter-value{
  width: 30px;
}
