* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main{
  background-color: #adadad;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* menu-hamburguer*/
#btn-menu:checked ~ .menu{
  margin-top: 0%;
  margin-left: 57%;
  display: block;
}

#btn-menu {
  display: none;
}

label[for="btn-menu"] {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #ffffff;
}

.menu {
  margin-left: -100%;
  width: 100%;
  position: absolute;
}
 .menu ul {
  list-style: none;
  position: relative;
  display: inline-block;
} 
.menu ul li {
  width: 100%;
  float: none;
  background-color: #333333;
}

.menu a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  background-color: #333333;
  height: 5%;
}

.logo{
  width: 60%;
  height: 100%;
  
}


/*card dos destaques*/
div.destaque{
  width: 95vw;
  height: 300px;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 10px;
  background-color: #333333;
} 

.caroussel{
  width: 90%;
  height: 80%;
  background-color: #bf8164;
}



/* todas as peças filtros*/
.text-simple {
  text-align: center;
  padding: 2%;
  background-color: #333333;
  color: #ffffff;
} 

.search {
  background-color: #333333;
}

.all-plays{
  width: 95vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 10px;
}

.search-by-name{
  display: flex;
  justify-content: center;
  padding: 10px 0px 5px 0px;
  background-color: #333333;
}

.btn-search{
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #eee;
}

.or{
  color: #ffffff;
  text-align: center;
}
.select-filters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 10px 10px 10px;
}

.filter-location, .filter-value{
  width: 33%;
  border-radius: 20px;
  padding-left: 8px;
}

.date-input{
  width: 100px;
  border-radius: 20px;  
}


/* cards todas as peças */
.teste{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
}

.listcard {
  display: flex;
  flex-direction: row;
  width: 95%;
  min-height: 120px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 15px;
}

.card-image {
  justify-content: row;
  align-self: center;
  max-height: 110px;
  width: 40%;
  height: 100px;
  margin-right: 10px;
}

.card-image img {
  width: 100%;
}

.card-time {
  font-size: 70%;
  border: none;
  border-radius: 10px 10px 0 0 ;
  background-color:#E85531;  
}

.card-name{
  display: flex;
  flex-direction: row;

}

/* form indicação de peça */
.forms{
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  align-items: center;
}

/* input pág de indicação */
.input  {
  width: auto;
  border-radius: 15px;
  padding: 4px;
}
.search-input{
margin: 0px 10px;
}

 .card {
  display: flex;
  flex-direction: row;
  width: 30%;
  border-radius: 10px;
  border:1px solid #E85531;
  align-items: center;  
} 

.card-info{
display: flex;
flex-direction: column;
max-height: 80px;
}

.card-name {
  font-weight: bolder;
  font-size: 15px; 
}

.card-price, .card-classification,  .card-theatre{
font-size: 15px;
}


/* about us */

.aboutUs{
  background-image: url(./Imagens/theater.jpg);
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;

}

.about-us-container{
  width: 85%;
  height: 90%;
  align-self: center;
  background-color: rgba(12, 12, 12, 0.76); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-info{
  width: 80%; 
}

.name-network{
  margin-left: 18%;
}

.title-about-us{
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px 0px;
}

/* indicação */
.register-section{
  width: 100vw;
  height: 90vh;
  background-color: #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-description-indicate{
  align-self: center;
  width: 70%;
  
}

.send-message{
  margin-left: 60px;
  margin-bottom: 30px;
}

.forms{
  margin-left: 35px;
  width: 80%;
  background-color: #333333;
}

.title-indicate{
  color: rgb(255, 253, 253);
}

.input-indicate{
  width: 80%;
  margin-bottom: 20px;
}

.button-send-green{
  width: 60px;
  background-color: rgb(93, 199, 98);
}

/* contato */
.profile-section{
  background-color: #adadad;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  
}

.alert-message{
  align-self: center;
  width: 70%;
  
}

.handshake-icon{
  margin-top: 100px;
  align-self: center;
  width: 40%;
}